{{ $path := printf "data/%s.json" (.Get "path") }}
{{ $fileContent := readFile $path }}
{{ $jsonData := transform.Unmarshal $fileContent }}
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Topic</th>
      <th>Materials</th>
    </tr>
  </thead>
  <tbody>
    {{ range $jsonData }}
      <tr>
        <td>{{ .date }}</td>
        <td>{{ .topic }}</td>
        <td>
          <ul>
            {{ range .materials }}
              {{ if .url }}
                <li><a href="{{ .url }}">{{ .title }}</a></li>
              {{ else }}
                <li>{{ .title }}</li>
              {{ end }}
            {{ end }}
          </ul>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
